In [1]:
import pandas as pd
from datasets import load_dataset
import json

D:\nguyennha\multi_table\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
multitableQA_pretraining = load_dataset("vaishali/multitabqa_pretraining")

In [3]:
spider_tableQA_pretraining = load_dataset("vaishali/spider-tableQA-pretraining")

In [4]:
print(multitableQA_pretraining.keys())

dict_keys(['train'])

In [5]:
multitableQA_train = multitableQA_pretraining["train"]

In [46]:
print(multitableQA_train[0]['tables'][0][:100])
print(multitableQA_train[0]['source'])

{"columns":["player_id","year","game_num","game_id","team_id","league_id","gp","starting_pos"],"inde
None

In [49]:
i = 0
for row in multitableQA_train:
    if row['source'] != None:
        i = i + 1
        if i < 2:
            continue
        print(row['source'])
        print(row['tables'])
        print(row['target'])
        break

SELECT Membership_card FROM member WHERE "Time_of_purchase" > 18 OR Address != "Waterbury" AND Name = "Webb, Daniel" OR "Age" != 51 EXCEPT SELECT Membership_card FROM member WHERE "Time_of_purchase" < 27 AND Name != "Hayes, Steven" AND "Age" >= 45 AND Membership_card = "Black" <table_name> : member col : Member_ID | Name | Membership_card | Age | Time_of_purchase | Level_of_membership | Address row 1 : 1 | Ashby, Lazale | Black | 29 | 18 | 5 | Hartford row 2 : 2 | Breton, Robert | White | 67 | 41 | 4 | Waterbury row 3 : 3 | Campbell, Jessie | Black | 34 | 20 | 6 | Hartford row 4 : 4 | Cobb, Sedrick | Black | 51 | 27 | 2 | Waterbury row 5 : 5 | Hayes, Steven | White | 50 | 44 | 3 | Cheshire row 6 : 6 | Komisarjevsky, Joshua | White | 33 | 26 | 2 | Cheshire row 7 : 7 | Peeler, Russell | Black | 42 | 26 | 6 | Bridgeport row 8 : 8 | Reynolds, Richard | Black | 45 | 24 | 1 | Waterbury row 9 : 9 | Rizzo, Todd | White | 35 | 18 | 4 | Waterbury row 10 : 10 | Webb, Daniel | Black | 51 | 27 | 22 | Hartford <table_name> : member col : Member_ID | Name | Membership_card | Age | Time_of_purchase | Level_of_membership | Address row 1 : 1 | Ashby, Lazale | Black | 29 | 18 | 5 | Hartford row 2 : 2 | Breton, Robert | White | 67 | 41 | 4 | Waterbury row 3 : 3 | Campbell, Jessie | Black | 34 | 20 | 6 | Hartford row 4 : 4 | Cobb, Sedrick | Black | 51 | 27 | 2 | Waterbury row 5 : 5 | Hayes, Steven | White | 50 | 44 | 3 | Cheshire row 6 : 6 | Komisarjevsky, Joshua | White | 33 | 26 | 2 | Cheshire row 7 : 7 | Peeler, Russell | Black | 42 | 26 | 6 | Bridgeport row 8 : 8 | Reynolds, Richard | Black | 45 | 24 | 1 | Waterbury row 9 : 9 | Rizzo, Todd | White | 35 | 18 | 4 | Waterbury row 10 : 10 | Webb, Daniel | Black | 51 | 27 | 22 | Hartford
['member', 'member']
col : Membership_card row 1 : White

In [6]:
print(type(multitableQA_train))

<class 'datasets.arrow_dataset.Dataset'>

In [29]:
row = multitableQA_train[0]
print(type(row))

<class 'dict'>

In [30]:
print(row.keys())

dict_keys(['tables', 'table_names', 'query', 'answer', 'db_name', 'source', 'target'])

In [31]:
print(row["table_names"])

['all_star', 'manager_award_vote']

In [33]:
table = row['tables']
print(type(table))

<class 'list'>

In [11]:
print(type(table[0]))

<class 'str'>

In [35]:
print(table[0][:100])
print(table[1][:100])

{"columns":["player_id","year","game_num","game_id","team_id","league_id","gp","starting_pos"],"inde
{"columns":["award_id","year","league_id","player_id","points_won","points_max","votes_first"],"inde

In [13]:
data_dict_0 = json.loads(table[0])
print(data_dict_0.keys())

dict_keys(['columns', 'index', 'data'])

In [14]:
data = data_dict_0['data']
print(type(data))

<class 'list'>

In [15]:
print(data_dict_0['columns'])
print("values:")
print(data[:5])

['player_id', 'year', 'game_num', 'game_id', 'team_id', 'league_id', 'gp', 'starting_pos']
values:
[['gomezle01', 1933, 0, 'ALS193307060', 'NYA', 'AL', 1, 1], ['ferreri01', 1933, 0, 'ALS193307060', 'BOS', 'AL', 1, 2], ['gehrilo01', 1933, 0, 'ALS193307060', 'NYA', 'AL', 1, 3], ['gehrich01', 1933, 0, 'ALS193307060', 'DET', 'AL', 1, 4], ['dykesji01', 1933, 0, 'ALS193307060', 'CHA', 'AL', 1, 5]]

In [16]:
print(table[1][:100])

{"columns":["award_id","year","league_id","player_id","points_won","points_max","votes_first"],"inde

In [17]:
data_dict_1 = json.loads(table[1])
print(data_dict_1.keys())

dict_keys(['columns', 'index', 'data'])

In [18]:
data1 = data_dict_1['data']
print(type(data1))

<class 'list'>

In [19]:
print(data_dict_1['columns'])
print("values:")
print(data1[:5])

['award_id', 'year', 'league_id', 'player_id', 'points_won', 'points_max', 'votes_first']
values:
[['Mgr of the year', 1983, 'AL', 'altobjo01', 7, 28, 7], ['Mgr of the year', 1983, 'AL', 'coxbo01', 4, 28, 4], ['Mgr of the year', 1983, 'AL', 'larusto01', 17, 28, 17], ['Mgr of the year', 1983, 'NL', 'lasorto01', 10, 24, 10], ['Mgr of the year', 1983, 'NL', 'lillibo01', 9, 24, 9]]

In [20]:
# Count number of table
noTable = []
tables_index = []
not_tables_index = []
i = 0
for row in multitableQA_train:
    if row["table_names"] == None:
        noTable.append(0)
        not_tables_index.append(i)
    else:
        noTable.append(len(row["table_names"]))
        tables_index.append(i)
    i += 1

In [21]:
noTable = pd.Series(noTable)
print(noTable.value_counts())

0    105978
2     26667
Name: count, dtype: int64

In [22]:
array = [132609, 132609, 132611, 132612, 132632]
print(multitableQA_train[array[0]])

{'tables': None, 'table_names': None, 'query': None, 'answer': None, 'db_name': None, 'source': 'select t1.mid, t2.mid from movie as t1 join rating as t2 on t1.mid == t2.mid group by year having title != "titanic" and ratingdate = "2011-01-22" or rid < 205 and stars > 2 <table_name> : movie col : mid | title | year | director row 1 : 101 | gone with the wind | 1939 | victor fleming row 2 : 102 | star wars | 1977 | george lucas row 3 : 103 | the sound of music | 1965 | robert wise row 4 : 104 | e.t. | 1982 | steven spielberg row 5 : 105 | titanic | 1997 | james cameron row 6 : 106 | snow white | 1937 |  row 7 : 107 | avatar | 2009 | james cameron row 8 : 108 | raiders of the lost ark | 1981 | steven spielberg <table_name> : rating col : rid | mid | stars | ratingdate row 1 : 201 | 101 | 2 | 2011-01-22 row 2 : 201 | 101 | 4 | 2011-01-27 row 3 : 202 | 106 | 4 |  row 4 : 203 | 103 | 2 | 2011-01-20 row 5 : 203 | 108 | 4 | 2011-01-12 row 6 : 203 | 108 | 2 | 2011-01-30 row 7 : 204 | 101 | 3 | 2011-01-09 row 8 : 205 | 103 | 3 | 2011-01-27 row 9 : 205 | 104 | 2 | 2011-01-22 row 10 : 205 | 108 | 4 |  row 11 : 206 | 107 | 3 | 2011-01-15 row 12 : 206 | 106 | 5 | 2011-01-19 row 13 : 207 | 107 | 5 | 2011-01-20 row 14 : 208 | 104 | 3 | 2011-01-02', 'target': 'col : mid -1 | mid -2 row 1 : 106 | 106 row 2 : 101 | 101 row 3 : 108 | 108 row 4 : 104 | 104'}

In [23]:
print(multitableQA_train[array[1]])

{'tables': None, 'table_names': None, 'query': None, 'answer': None, 'db_name': None, 'source': 'select t1.mid, t2.mid from movie as t1 join rating as t2 on t1.mid == t2.mid group by year having title != "titanic" and ratingdate = "2011-01-22" or rid < 205 and stars > 2 <table_name> : movie col : mid | title | year | director row 1 : 101 | gone with the wind | 1939 | victor fleming row 2 : 102 | star wars | 1977 | george lucas row 3 : 103 | the sound of music | 1965 | robert wise row 4 : 104 | e.t. | 1982 | steven spielberg row 5 : 105 | titanic | 1997 | james cameron row 6 : 106 | snow white | 1937 |  row 7 : 107 | avatar | 2009 | james cameron row 8 : 108 | raiders of the lost ark | 1981 | steven spielberg <table_name> : rating col : rid | mid | stars | ratingdate row 1 : 201 | 101 | 2 | 2011-01-22 row 2 : 201 | 101 | 4 | 2011-01-27 row 3 : 202 | 106 | 4 |  row 4 : 203 | 103 | 2 | 2011-01-20 row 5 : 203 | 108 | 4 | 2011-01-12 row 6 : 203 | 108 | 2 | 2011-01-30 row 7 : 204 | 101 | 3 | 2011-01-09 row 8 : 205 | 103 | 3 | 2011-01-27 row 9 : 205 | 104 | 2 | 2011-01-22 row 10 : 205 | 108 | 4 |  row 11 : 206 | 107 | 3 | 2011-01-15 row 12 : 206 | 106 | 5 | 2011-01-19 row 13 : 207 | 107 | 5 | 2011-01-20 row 14 : 208 | 104 | 3 | 2011-01-02', 'target': 'col : mid -1 | mid -2 row 1 : 106 | 106 row 2 : 101 | 101 row 3 : 108 | 108 row 4 : 104 | 104'}

In [24]:
for a in array:
    print(multitableQA_train[a] == multitableQA_train[array[0]])

True
True
False
False
False

In [25]:
print(multitableQA_train[array[3]])

{'tables': None, 'table_names': None, 'query': None, 'answer': None, 'db_name': None, 'source': "select max(t1.station_id), t2.time from station as t1 join train as t2 on t1.name = t2.name <table_name> : station col : station_id | name | annual_entry_exit | annual_interchanges | total_passengers | location | main_services | number_of_platforms row 1 : 1 | london waterloo | 94.046 | 9.489 | 103.534 | london | south western main line west of england main line | 19 row 2 : 2 | london victoria | 76.231 | 9.157 | 85.38 | london | brighton main line chatham main line | 19 row 3 : 3 | london bridge | 52.634 | 8.742 | 61.376 | london | south eastern main line thameslink | 12 row 4 : 4 | london liverpool street | 57.107 | 2.353 | 59.46 | london | great eastern main line west anglia main line | 18 row 5 : 5 | london euston | 36.609 | 3.832 | 40.44 | london | west coast main line | 18 row 6 : 6 | london charing cross | 38.005 | 1.99 | 39.995 | london | south eastern main line | 6 row 7 : 7 | birmingham new street | 31.214 | 5.118 | 36.331 | birmingham | west coast main line cross country route | 13 row 8 : 8 | london king's cross | 27.875 | 3.022 | 30.896 | london | east coast main line | 12 row 9 : 9 | glasgow central | 26.639 | 3.018 | 29.658 | glasgow | west coast main line | 17 row 10 : 10 | east croydon | 20.551 | 6.341 | 26.892 | london | brighton main line | 6 row 11 : 11 | london st pancras | 22.996 | 3.676 | 26.672 | london | midland main line thameslink high-speed 1 eurostar | 15 row 12 : 12 | stratford | 21.797 | 2.064 | 23.862 | london | great eastern main line lea valley lines | 15 <table_name> : train col : train_id | name | time | service row 1 : 1 | ananthapuri express | 17:15 | daily row 2 : 2 | guruvayur express | 22:10 | daily row 3 : 3 | guruvayur express | 4:49 | daily row 4 : 4 | ananthapuri express | 11:35 | daily row 5 : 5 | jayanthi janatha express | 06:30 | daily row 6 : 6 | island express | 11:15 | daily row 7 : 7 | madurai fast passenger | 21:49 | daily row 8 : 8 | quilon fast passenger | 04:55 | daily row 9 : 9 | island express | 16:59 | daily row 10 : 10 | jayanthi janatha express | 10:38 | daily row 11 : 11 | parasuram express | 04:20 | daily", 'target': 'col : max(t1.station_id) | time row 1 : nan | nan'}

In [26]:
# length raw
print(len(multitableQA_train))

132645

In [36]:
# 'tables', 'table_names', 'query', 'answer', 'db_name'
flag = True
for index in not_tables_index:
    row = multitableQA_train[index]
    if row["table_names"] == None and row["tables"] == None and row["query"] == None and row["answer"] == None and row["answer"] == None:
        continue
    else:
        print(row)
        print("False")
        break

{'tables': ['member', 'member'], 'table_names': None, 'query': None, 'answer': '{"columns":["Age"],"index":[0],"data":[[34]]}', 'db_name': 'coffee_shop', 'source': 'SELECT Age FROM member WHERE "Level_of_membership" >= 4 EXCEPT SELECT Age FROM member WHERE "Age" <= 51 AND "Level_of_membership" = 1 AND Membership_card != "White" OR Name != "Campbell, Jessie" <table_name> : member col : Member_ID | Name | Membership_card | Age | Time_of_purchase | Level_of_membership | Address row 1 : 1 | Ashby, Lazale | Black | 29 | 18 | 5 | Hartford row 2 : 2 | Breton, Robert | White | 67 | 41 | 4 | Waterbury row 3 : 3 | Campbell, Jessie | Black | 34 | 20 | 6 | Hartford row 4 : 4 | Cobb, Sedrick | Black | 51 | 27 | 2 | Waterbury row 5 : 5 | Hayes, Steven | White | 50 | 44 | 3 | Cheshire row 6 : 6 | Komisarjevsky, Joshua | White | 33 | 26 | 2 | Cheshire row 7 : 7 | Peeler, Russell | Black | 42 | 26 | 6 | Bridgeport row 8 : 8 | Reynolds, Richard | Black | 45 | 24 | 1 | Waterbury row 9 : 9 | Rizzo, Todd | White | 35 | 18 | 4 | Waterbury row 10 : 10 | Webb, Daniel | Black | 51 | 27 | 22 | Hartford <table_name> : member col : Member_ID | Name | Membership_card | Age | Time_of_purchase | Level_of_membership | Address row 1 : 1 | Ashby, Lazale | Black | 29 | 18 | 5 | Hartford row 2 : 2 | Breton, Robert | White | 67 | 41 | 4 | Waterbury row 3 : 3 | Campbell, Jessie | Black | 34 | 20 | 6 | Hartford row 4 : 4 | Cobb, Sedrick | Black | 51 | 27 | 2 | Waterbury row 5 : 5 | Hayes, Steven | White | 50 | 44 | 3 | Cheshire row 6 : 6 | Komisarjevsky, Joshua | White | 33 | 26 | 2 | Cheshire row 7 : 7 | Peeler, Russell | Black | 42 | 26 | 6 | Bridgeport row 8 : 8 | Reynolds, Richard | Black | 45 | 24 | 1 | Waterbury row 9 : 9 | Rizzo, Todd | White | 35 | 18 | 4 | Waterbury row 10 : 10 | Webb, Daniel | Black | 51 | 27 | 22 | Hartford', 'target': 'col : Age row 1 : 34'}
False